/* ============================================================================================================= 
                                                GLOBAL
   ============================================================================================================= */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");
@font-face { font-family: "Poppins"; src: url("../assets/Poppins-Bold.ttf") format("truetype"); }
@font-face { font-family: "PoppinsExtraLight"; src: url("../assets/Poppins-ExtraLight.ttf") format("truetype"); }


body {

    background-color: rgb(47, 32, 80);
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-family: Monterrat, sans-serif;

}

/* ============================================================================================================= 
                                                HEADER
   ============================================================================================================= */

header {

    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background:  rgb(47, 32, 80);
}

header .left {

    display: flex;
    align-items: center;
}

header img {

    width: 60px;
}

header .left h1 {

    padding: 0 1em;
    font-size: 2rem;
    color: #c2bbe7;
    font-family: "Poppins";
    transition: 0.3s ease-in-out;
}

header .left h1:hover { color: white; }

header form {

    display: flex;
    align-self: center;
    justify-content: space-between;
    
}

header form label {

    display: flex;
    align-items: center;
}

header form input[type="text"] {

    background: rgba(0,0,0,0.3);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    color: white;
}

header form input[type="text"]::placeholder {

    color: #585858;
    font-weight: bolder;
}

header form input[type="submit"] { display: none; }

header form svg {

    width: 30px;
    height: 30px;
    margin-left: 15px;
    fill: #6e649e;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header form svg:hover { fill: white; }


/* ============================================================================================================= 
                                            SCROLLBAR
   ============================================================================================================= */

*::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0); 
    width: 0.4em;
}
*::-webkit-scrollbar-thumb {
    background-color: #9c5dcc;
    outline: 1px solid rgb(176, 64, 249);
    border-radius: 15px;
    width: 4px;  
}
::-webkit-scrollbar-track {background-color: #05070e;}


