/* ============================================================================================================= 
                                                GLOBAL
   ============================================================================================================= */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");
@font-face { font-family: "Poppins"; src: url("../assets/Poppins-Bold.ttf") format("truetype"); }
@font-face { font-family: "PoppinsExtraLight"; src: url("../assets/Poppins-ExtraLight.ttf") format("truetype"); }

html {
    scroll-behavior: smooth;
}

body {

    background-color: rgb(47, 32, 80);
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-family: Monterrat, sans-serif;
}


/* ============================================================================================================= 
                                                NAVBAR
   ============================================================================================================= */

/* navbar général */

nav {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    background: rgb(47, 32, 80);
}


/* Partie gauche du nav */


nav .left {

    display: flex;
    align-items: center;
}

nav .left img { width: 50px; }

nav .left h1 {

    padding: 0 1em;
    font-size: 2rem;
    color: #c2bbe7;
    font-family: "Poppins";
    transition: 0.3s ease-in-out;
}

nav .left h1:hover { color: white; }


/* Partie droite du nav */


nav .right {

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right .separator {

    padding: 1rem 0px;
    margin: 0 1rem;
    height: 30%;
    background: #3A2B5C;
    border-radius: 20px;
}

nav .right form {

    display: flex;
    align-self: center;
    justify-content: space-between;

    background: rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: clamp(6px, 1vw, 10px) 20px;
    
}

nav .right form label {

    display: flex;
    align-items: center;
}

nav .right form input[type="text"] {

    background: transparent;
    outline: none;
    border: none;
    width: 6rem;

    color: white;

    transition: width 0.6s ease-in-out;
}

nav .right form input[type="text"]:hover,
nav .right form input[type="text"]:focus {

    width: 15rem;
}

nav .right form input[type="text"]::placeholder {

    color: #585858;
    font-weight: bolder;
}

nav .right form input[type="submit"] { display: none; }

nav .right form svg {

    width: 20px;
    height: 20px;
    margin-left: 15px;
    fill: #6e649e;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

nav .right form svg:hover { fill: white; }

nav .right img { 
    width: 25px;
    transition: transform 0.3s ease-in-out;
}

nav .right img:hover { transform: scale(1.2); }

nav .right .nav-about {

    color: #c2bbe7;
    font-family: "Poppins";
    transition: color 0.3s ease-in-out;
}

nav .right .nav-about:hover { color: white; }

/* ============================================================================================================= 
                                            RESPONSIVE
   ============================================================================================================= */

@media (max-width: 560px) {

    nav .right form input[type="text"]:hover,
    nav .right form input[type="text"]:focus {
        width: 10rem;
    }

    nav .right img {
        margin-top: 0.7rem;
        margin-left: -0.5rem;
    }
}

/* ============================================================================================================= 
                                            SCROLLBAR
   ============================================================================================================= */

*::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0); 
    width: 0.4em;
}
*::-webkit-scrollbar-thumb {
    background-color: #9c5dcc;
    outline: 1px solid rgb(176, 64, 249);
    border-radius: 15px;
    width: 4px;  
}
::-webkit-scrollbar-track {background-color: #05070e;}


