/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

:root {

    --text-color: whitesmoke;
}

body {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    font-family: Monterrat, sans-serif;

}

/* ============================================================================================================= 
                                                HEADER
   ============================================================================================================= */

header {

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header .left {

    display: flex;
    align-items: center;
}

header img {

    width: 60px;
}

header .left h1 {

    margin-left: 1em;
    font-size: 2rem;
    color: var(--text-color);
}






/* ============================================================================================================= 
                                            HERO BANNER
   ============================================================================================================= */

.hero-banner {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Promotions */

.promotions {

    background-color: rgb(47, 32, 80);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.promotions ul {

    margin-top: -10vh;
    width: 40vw;
    display: flex;
}

.promotions li { width: 100%; }

.promotions li img {

    width: 100%;
    opacity: 0.3;
    z-index: -1;
}

.promotions li#selected img { opacity: 1; }

.promotions li#selected {
    z-index: 1;
    transform: scale(1.2);
}

.promotions li#selected .text { color: rgba(255, 255, 255, 1); }

.promotions .text {
    text-align: center;
    color: rgb(255, 255, 255, 0.3);
}


/* partie css de la vague, le tout généré via https://www.shapedivider.app */

.custom-shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.custom-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider .shape-fill { fill: #3a3166; }



