<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css" class="css">
    <link rel="stylesheet" href="../styles/details.css" class="css">
    <link rel="stylesheet" href="../styles/reset.css" class="css">
    <link rel="stylesheet" href="../styles/responsive.css" class="css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="left">
            <img src="../assets/logo.png" alt="logo">
            <a href="../../index.html"><h1>Manga Shop</h1></a>
        </div>
        <span></span>
        <form action="../pages/recherche.html">
            <input type="text" placeholder="Nom de manga">
            <label> <!-- explication pour la balise label -> https://stackoverflow.com/questions/13649872/can-i-make-an-svg-image-button -->
                <input type="submit" value="">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M19 17l-5.15-5.15a7 7 0 1 0-2 2L17 19zM3.5 8A4.5 4.5 0 1 1 8 12.5 4.5 4.5 0 0 1 3.5 8z"/>
                </svg>
            </label>
        </form>
    </header>

    <div class="backward-arrow"></div>

    <section class="details">
        <h1>Tokyo Ghoul</h1>
        <h2>Tome 16</h2>
        <div class="group">
            <img src="../assets/tomes/tokyo_ghoul_re/16.png" alt="cover sun-ken rock tome 1">
            <p>
                <strong>Auteur : </strong> Sui Ishida<br>
                <strong>Type : </strong> Seinen<br>
                <strong>Genres : </strong> Action - Drame - Horreur - Mature - Mystère - Psychologique - Surnaturel<br>
                <strong>Thèmes : </strong> Gore - Monstres<br>
                <strong>Éditeur : </strong> Glénat<br>
                <strong>Date de parution : </strong> 17/04/2019<br>
                <strong>Nombre de pages : </strong> 324<br>
                <br>
                <strong>Synopsis : </strong><i>"Ce que je déteste, c'est de ne rien pouvoir faire."<br>Les humains de Tokyo continuent de se transformer en goules. Afin de couper la source du poison, le CCG et les goules unissent leurs forces en surface, tandis que Ken et Ayato s'enfoncent dans les souterrains du 24e. Jusqu'à tomber sur un obstacle : Nimura Furuta. <br>Que désire Ken, lui qui fut le vecteur originel du mal dans ce monde ? Quel futur attend Tokyo et ses goules ?</i>
            </p>  
        </div>
    </section>

    <a href="./panier.html" class="add-to-cart">Ajouter au panier<br>6.90€</a>

    <section class="comments">
        <ul>
            <li>
                <h1 class="author">Jean Castex</h1>
                <p class="comment">Monsieur le Président,<br>                    
                    Mesdames et Messieurs les députés,<br>
                    Jamais, depuis un siècle et les vagues épidémiques de la grippe espagnole, la France, l’Europe et le monde n’avaient été confrontés à une crise sanitaire aussi grave et aussi dévastatrice que celle que nous traversons depuis près de dix mois désormais.
                    Hier soir, le Président de la République s’est exprimé devant la Nation pour annoncer aux Français les mesures rendues nécessaires par les circonstances présentes. Aujourd’hui, il m’appartient, dans le cadre fixé par l’article 50-1 de la Constitution, de préciser devant vous, tout à la fois les raisons et les modalités de ces nouvelles mesures de lutte contre la pandémie, d’en débattre et de vous demander de vous prononcer.
                    Je veux d’abord dire à la Représentation nationale que j’ai parfaitement conscience que les efforts et les sacrifices qui sont, à nouveau, demandés au pays tout entier vont peser sur la vie de chacune et chacun d’entre nous. [...]</p>
                <p class="date">29/10/2020</p>
            </li>
            <li>
                <h1 class="author">Ekipafufu</h1>
                <p class="comment">s/o 667 la secte le triangle le logo ekip NRM LDO MMS</p>
                <p class="date">11/09/2001</p>
            </li>
        </ul>

    </section>

    <span class="sep"></span>

    <section class="add-comment">
        <form>
            <textarea placeholder="Laisse un commentaire"></textarea>
            
        </form>
    </section>




</body>
</html>